:root {
    --height: 100vh;
    --scale: 1;
}

html, body, h1, p, a, button {
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    resize: both;
}

h1 {
    font-family: 'Syne', sans-serif;
    color: #D9D9D9;
    font-size: calc(27px * var(--scale));
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #D9D9D9;
    font-size: calc(19px * var(--scale));
    margin: calc(4px * var(--scale)) 0 calc(80px * var(--scale)) 0;
}

a {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #C7B1E3;
    font-size: calc(21px * var(--scale));
}

input[type=text], input[type=button] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}

button {
    all: unset;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    outline: inherit;
}

a:hover, button:hover {
    opacity: 0.8;
}

#wrapper {
    display: flex;
    perspective: calc(1500px * var(--scale));
    padding: calc(47px * var(--scale)) 0;
}

.left-controls, .right-controls {
    position: relative;
    display: flex;
    visibility: hidden;
    align-items: center;
    height: calc(610px * var(--scale));
    width: calc(27px * var(--scale));
    padding: 0 calc(10px * var(--scale));
}

.home-btn img, .previous-btn img, .next-btn img {
    width: calc(27px * var(--scale));
    height: calc(27px * var(--scale));
}

.previous-btn, .next-btn {
    padding: calc(250px * var(--scale)) 0;
    
}

.home-btn {
    position: absolute;
    top: 0;
}

.card-container {
    position: relative;
    width: calc(310px * var(--scale));
    height: calc(610px * var(--scale));
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(300px * var(--scale));
    height: calc(600px * var(--scale));
    padding: calc(3px * var(--scale));
    border: calc(2px * var(--scale)) solid;
    border-radius: calc(2px * var(--scale));
    pointer-events: none;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
    animation-timing-function: ease-out;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-image img {
    width: calc(300px * var(--scale));
    height: calc(300px * var(--scale));
}

.card-desc {
    position: relative;
    width: calc(300px * var(--scale));
    height: calc(300px * var(--scale));
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-desc::-webkit-scrollbar {
    display: none;
}

.card-desc .text {
    position: absolute;
    padding: calc(45px * var(--scale)) calc(30px * var(--scale)) 0 calc(30px * var(--scale));
    width: calc(240px * var(--scale));
    top: 0;
    left: 0;
}

/* Landscape Mode */

@media screen and (orientation:landscape) {
    .card {
        flex-direction: row;
        width: calc(600px * var(--scale));
        height: calc(300px * var(--scale));
    }
    
    .card-container {
        width: calc(610px * var(--scale));
        height: calc(310px * var(--scale));
    }
    
    .left-controls, .right-controls {
        height: calc(310px * var(--scale));
    }
    
    .previous-btn, .next-btn {
        padding: calc(100px * var(--scale)) 0;
    
    }
}
