:root {
    --height: 100vh;
}

html, body, h1, p, a {
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
}

h1 {
    font-family: 'Syne', sans-serif;
    color: #D9D9D9;
    font-size: 1.7em;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #D9D9D9;
    font-size: 1.2em;
    margin: 4px 0 80px 0;
}

a {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: #C7B1E3;
    font-size: 1.32em;
}

a:hover {
    opacity: 0.8;
}

#wrapper {
    display: flex;
    perspective: 1000px;
    padding: 47px 0;
}

.left-controls, .right-controls {
    position: relative;
    display: flex;
    align-items: center;
    height: 610px;
    padding: 0 10px;
}

.previous-btn, .next-btn {
    padding: 250px 0;
    
}

.left-controls {
    visibility: visible;
}

.right-controls {
    visibility: visible;
}

.home-btn {
    position: absolute;
    top: 0;
}

.card-container {
    position: relative;
    width: 310px;
    height: 610px;
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    padding: 3px;
    border: 2px solid;
    border-radius: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 1s;
    animation-timing-function: ease-out;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-image img {
    width: 300px;
    height: 300px;
}

.card-desc {
    position: relative;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-desc::-webkit-scrollbar {
    display: none;
}

.card-desc .text {
    position: absolute;
    padding: calc(var(--textboxwidth) * 0.16) calc(var(--textboxwidth) * 0.11) 0 calc(var(--textboxwidth) * 0.11);
    padding: 45px 30px 0 30px;
    width: calc(100% - 60px);
    top: 0;
    left: 0;
}

/* Landscape Mode */

@media screen and (orientation:landscape) {
    .card {
        flex-direction: row;
        width: 600px;
        height: 300px;
    }
    
    .card-container {
        width: 610px;
        height: 310px;
    }
    
    .left-controls, .right-controls {
        height: 310px;
    }
    
    .previous-btn, .next-btn {
        padding: 100px 0;
    
    }
}